# Extcap configuration file for Wireshark 4.6.3.
#
# This file is regenerated each time preferences are saved within
# Wireshark. Making manual changes should be safe, however.
# Preferences that have been commented out have not been
# changed from their default value.

####### Extcap Utilities ########

# Save arguments on start of capture
# true or false (case-insensitive)
#extcap.gui_save_on_start: TRUE

# COM Port
# A string
extcap.ospprobe.port: COM4

# Remote SSH server address
# A string
#extcap.ciscodump.remotehost: 

# Remote SSH server port
# A string
#extcap.ciscodump.remoteport: 22

# Remote SSH server username
# A string
#extcap.ciscodump.remoteusername: M.Pennings

# Remote SSH server password
# Password (never stored on disk)
#extcap.ciscodump.remotepassword: 

# Path to SSH private key
# A string
#extcap.ciscodump.sshkey: 

# ProxyCommand
# A string
#extcap.ciscodump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.ciscodump.sshsha1: 

# Remote interface
# A string
#extcap.ciscodump.remoteinterface: 

# Remote capture filter
# A string
#extcap.ciscodump.remotefilter: deny tcp host 169.254.238.171 any eq 22, deny tcp any eq 22 host 169.254.238.171, deny tcp host fe80::bb65:8abd:a41b:e881 any eq 22, deny tcp any eq 22 host fe80::bb65:8abd:a41b:e881, deny tcp host 169.254.109.100 any eq 22, deny tcp any eq 22 host 169.254.109.100, deny tcp host fe80::a748:fe7e:5c4c:6da8 any eq 22, deny tcp any eq 22 host fe80::a748:fe7e:5c4c:6da8, deny tcp host 169.254.52.40 any eq 22, deny tcp any eq 22 host 169.254.52.40, deny tcp host fe80::1850:54b6:888d:56d4 any eq 22, deny tcp any eq 22 host fe80::1850:54b6:888d:56d4, deny tcp host 169.254.125.174 any eq 22, deny tcp any eq 22 host 169.254.125.174, deny tcp host fe80::e996:a27:6338:a2f5 any eq 22, deny tcp any eq 22 host fe80::e996:a27:6338:a2f5, deny tcp host 10.58.109.192 any eq 22, deny tcp any eq 22 host 10.58.109.192, deny tcp host fe80::aae5:db6f:c2a4:442a any eq 22, deny tcp any eq 22 host fe80::aae5:db6f:c2a4:442a, deny tcp host 169.254.200.190 any eq 22, deny tcp any eq 22 host 169.254.200.190, deny tcp host fe80::bf0a:f096:991b:233d any eq 22, deny tcp any eq 22 host fe80::bf0a:f096:991b:233d, deny tcp host 10.27.59.90 any eq 22, deny tcp any eq 22 host 10.27.59.90, permit ip any any

# Packets to capture
# A string
#extcap.ciscodump.remotecount: 

# Set the log level
# A string
#extcap.ciscodump.loglevel: 

# Use a file for logging
# A string
#extcap.ciscodump.logfile: 

# ETL file (source)
# A string
#extcap.etwdump.etlfile: 

# Providers
# A string
#extcap.etwdump.params: 

# Should undecidable events be included
# A string
#extcap.etwdump.iue: false

# Set the log level
# A string
#extcap.etwdump.loglevel: 

# Use a file for logging
# A string
#extcap.etwdump.logfile: 

# Max bytes in a packet
# A string
#extcap.randpkt.maxbytes: 5000

# Number of packets
# A string
#extcap.randpkt.count: 1000

# Packet delay (ms)
# A string
#extcap.randpkt.delay: 0

# Random type
# A string
#extcap.randpkt.randomtype: false

# All random packets
# A string
#extcap.randpkt.allrandom: false

# Type of packet
# A string
#extcap.randpkt.type: 

# Set the log level
# A string
#extcap.randpkt.loglevel: 

# Use a file for logging
# A string
#extcap.randpkt.logfile: 

# Remote SSH server address
# A string
#extcap.sshdump.remotehost: 

# Remote SSH server port
# A string
#extcap.sshdump.remoteport: 22

# Remote SSH server username
# A string
#extcap.sshdump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.sshdump.remotepassword: 

# Path to SSH private key
# A string
#extcap.sshdump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.sshdump.sshkeypassphrase: 

# ProxyCommand
# A string
#extcap.sshdump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.sshdump.sshsha1: 

# Remote interface
# A string
#extcap.sshdump.remoteinterface: 

# Remote capture command selection
# A string
#extcap.sshdump.remotecapturecommandselect: 

# Remote capture command
# A string
#extcap.sshdump.remotecapturecommand: 

# Gain capture privilege on the remote machine
# A string
#extcap.sshdump.remotepriv: 

# Privileged user name for sudo or doas
# A string
#extcap.sshdump.remoteprivuser: 

# No promiscuous mode
# A string
#extcap.sshdump.remotenoprom: 

# Remote capture filter
# A string
#extcap.sshdump.remotefilter: not ((host 169.254.238.171 or host fe80::bb65:8abd:a41b:e881 or host 169.254.109.100 or host fe80::a748:fe7e:5c4c:6da8 or host 169.254.52.40 or host fe80::1850:54b6:888d:56d4 or host 169.254.125.174 or host fe80::e996:a27:6338:a2f5 or host 10.58.109.192 or host fe80::aae5:db6f:c2a4:442a or host 169.254.200.190 or host fe80::bf0a:f096:991b:233d or host 10.27.59.90) and port 22)

# Packets to capture
# A string
#extcap.sshdump.remotecount: 0

# Set the log level
# A string
#extcap.sshdump.loglevel: 

# Use a file for logging
# A string
#extcap.sshdump.logfile: 

# Listen port
# A string
#extcap.udpdump.port: 5555

# Payload type
# A string
#extcap.udpdump.payload: data

# Set the log level
# A string
#extcap.udpdump.loglevel: 

# Use a file for logging
# A string
#extcap.udpdump.logfile: 

# Remote SSH server address
# A string
#extcap.wifidump.remotehost: 

# Remote SSH server port
# A string
#extcap.wifidump.remoteport: 

# Remote SSH server username
# A string
#extcap.wifidump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.wifidump.remotepassword: 

# Path to SSH private key
# A string
#extcap.wifidump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.wifidump.sshkeypassphrase: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.wifidump.sshsha1: 

# Remote interface
# A string
#extcap.wifidump.remoteinterface: auto

# Remote channel
# A string
#extcap.wifidump.remotechannelfrequency: 

# Remote channel width
# A string
#extcap.wifidump.remotechannelwidth: 

# Remote capture filter
# A string
#extcap.wifidump.remotefilter: 

# Frames to capture
# A string
#extcap.wifidump.remotecount: 

# Set the log level
# A string
#extcap.wifidump.loglevel: 

# Use a file for logging
# A string
#extcap.wifidump.logfile: 
